/results_*/
/*.src.rpm

/pyo3-0.13.0.crate
/pyo3-0.13.1.crate
/pyo3-0.13.2.crate
/pyo3-0.14.3.crate
/pyo3-0.14.5.crate
/pyo3-0.15.1.crate
/pyo3-0.15.2.crate
/pyo3-0.16.6.crate
/pyo3-0.17.3.crate
/pyo3-0.18.1.crate
/pyo3-0.18.2.crate
/pyo3-0.18.3.crate
/pyo3-0.19.1.crate
/pyo3-0.19.2.crate
